*{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
}
body{
    background-color: #fff8f3;
}
:root{
    --main-color: #aadbea;
    --second-color: #fdd5a4;
}

#section-2, #section-3, #section-4{
    display: none;
}

.players{
    width: 100%;
}

.playerName{
    font-size: 1.6em;
    width: 85%;
    margin: 1em;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 100px;
    border: solid 2px black;
}

.playerName::placeholder{
    opacity: 0.8;
    color: black;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.group-stats{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10% 5%;
    padding: 10px;
}

.label{
    width: 65%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.label::after{
    content: ":";
}

.value{
    width: 35%;
    text-align: right;
    border: black solid 1px;
    border-right: none;
    border-left: none;
    margin-right : 10px;
}

.cardId{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.cardId::placeholder{
    opacity: 0.5;
}

.button-usecard{
    padding: 20px;
    color: black;
    border: black 2px solid;
    border-top : none;
    border-radius: 5px;
    background-color: var(--main-color);
    cursor: pointer;
}

.use-card{
    flex-direction: column;
}
.stats{
    width: 70%;
    margin-top: 15%;
}

.revenue{
    display: flex;
    width: 30%;
    margin-top: 5vh;
}

.next-turn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 9vh;
    right: 0px;
    width: 60vw;
    box-sizing: border-box;
    padding: 2em;
    height: 7vh;
    background-color: var(--main-color);
    color: black;
    display: flex;
    align-items: center;
}

.next-turn > button{
    padding: 5px;
    background-color: var(--second-color);
    border: none;
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.revenue-bar{
    position: relative;
    width: 40%;
    height: 1vh;
    border-radius: 0 0 50px 50px;
    margin: auto auto 0 auto;
    background-color: var(--main-color);
    border-top: black 2px solid;
}

.revenue-value{
    position: absolute;
    right: -50%;
    background-color: transparent;
    border: none;
    color: black;
    width: 200%;
    text-align: center;
}

.international-container{
    position: absolute;
    bottom: 9vh;
    left: 5vw;
    width: 30vw;
    margin: auto;
    color: lightgrey;
    opacity: 0.5;
}

.globe{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 48px!important;
}

table{
    border-collapse: collapse;
    & td, th{
        border: 1px solid black;
        padding: 10px;
    }
}

nav{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 7vh;
    background-color: var(--main-color);
}

nav > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav > ul > li{
    list-style: none;
}

nav > ul > li > button{
    background: none;
    border: none;
    cursor: pointer;
}

.dollar{
    margin: auto auto auto 5px;
}

/* Icon */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
/* font-size: 40px!important; */
}

